.slide {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

.slide:after {
	content: '';
	display: block;
	width: 100%;
	padding-top: 50%;
}

.slide ul {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.slide li {
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
/* 解决js阻塞页面显示首屏 */
.slide li:first-child {
	z-index: 1;
}

.slide li img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.slide .dot {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 5;
	font-size: 0;
}

.slide .dot span {
	display: inline-block;
	width: 5px;
	height: 5px;
	margin-left: 5px;
	border: 1px solid #fff;
	border-radius: 50%;
}

.slide .dot .cur {
	background-color: #fff;
}