.ux-notification-window .x-window-body {
	text-align: center;
	padding: 15px 5px 15px 5px;
}

.ux-notification-icon-information {
	background-image: url('images/icon16_info.png');
}

.ux-notification-icon-error {
	background-image: url('images/icon16_error.png');
}

.ux-notification-light .x-window-header {
	background-color: transparent;
}

body .ux-notification-light {
	background-image: url('images/fader.png');
}

.ux-notification-light .x-window-body {
	text-align: center;
	padding: 15px 5px 20px 5px;
	background-color: transparent;
	border: 0px solid white;
}

.x-edit-wordpaste {
	background: url(images/editor/edit-word-text.png) 0 0 no-repeat
		!important;
}

.x-edit-table {
	background: url(images/editor/edit-table.png) 0 0 no-repeat !important;
}

.x-edit-hr {
	background: url(images/editor/edit-rule.png) 0 0 no-repeat !important;
}

.x-edit-indent {
	background: url(images/editor/edit-indent.png) 0 0 no-repeat !important;
}

.x-edit-char {
	background: url(images/editor/edit-char.png) 0 0 no-repeat !important;
}

.x-edit-outdent {
	background: url(images/editor/edit-outdent.png) 0 0 no-repeat !important;
}

.x-edit-subscript {
	background: url(images/editor/edit-subscript.png) 0 0 no-repeat
		!important;
}

.x-edit-superscript {
	background: url(images/editor/edit-superscript.png) 0 0 no-repeat
		!important;
}

.x-edit-removeFormat {
	background: url(images/editor/edit-removeFormat.png) 0 0 no-repeat
		!important;
}

.x-edit-image {
	background: url(images/editor/edit-image.png) 0 0 no-repeat !important;
}

.x-edit-findandreplace {
	background: url(images/editor/edit-findandreplace.png) 0 0 no-repeat
		!important;
}

.x-edit-undo {
	background: url(images/editor/edit-undo.png) 0 0 no-repeat !important;
}

.x-edit-redo {
	background: url(images/editor/edit-redo.png) 0 0 no-repeat !important;
}

.x-edit-formatblock-h1 {
	background: url(images/editor/edit-heading-h1.png) 0 0 no-repeat
		!important;
}

.x-edit-formatblock-h2 {
	background: url(images/editor/edit-heading-h2.png) 0 0 no-repeat
		!important;
}

.char-item {
	float: left;
	border: 1px solid #99BBE8;
	margin: 3px;
	text-align: center;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	font-size: 14px;
	color: #15428B;
	cursor: pointer;
}

.char-item.x-view-selected {
	background-color: #777;
}

.char-over {
	border: 1px solid #15428B;
	background-color: #d0def0;
}

.x-htmleditor-imageupload {
	background: url(images/editor/image_upload.png) 0 0 no-repeat !important
}

.x-htmleditor-imageupload-thumbcontainer {
	width: 64px;
	height: 64px;
	overflow: hidden;
	line-height: 64px;
	text-align: center;
	margin: auto
}

.x-htmleditor-imageupload-thumbcontainer img {
	vertical-align: middle;
	width: expression(this.width > 64 ? 64 : this.width);
	height: expression(this.height > 64 ? 64 : this.height);
	max-width: 64px;
	max-height: 64px;
}

.x-htmleditor-imageupload-cropdialog {
	background: url(images/editor/editor_background.gif) !important
}

.x-htmleditor-imageupload-editbutton {
	background: url(images/editor/image_upload.png) 0 0 no-repeat !important
}

.x-htmleditor-imageupload-deletebutton {
	background: url(images/editor/trash.gif) 0 0 no-repeat !important
}

.x-htmleditor-imageupload-cropbutton {
	background: url(images/editor/image_crop.gif) 0 0 no-repeat !important
}

.x-htmleditor-imageupload-rotatebutton {
	background: url(images/editor/image_rotate.png) 0 0 no-repeat !important
}

.x-htmleditor-imageupload-resizebutton {
	background: url(images/editor/image_resize.gif) 0 0 no-repeat !important
}

.x-htmleditor-imageupload-delete {
	display: block;
	background: url(images/editor/delete.gif) 0 0 no-repeat !important;
	width: 12px;
	height: 12px;
	margin: 4px
}

.x-htmleditor-imageupload-delete:hover {
	background: url(images/editor/delete.gif) 0 -13px no-repeat !important;
}

.x-htmleditor-imageupload-constrain {
	background: url(images/editor/constrain.gif) 0 0 no-repeat !important
}

.x-htmleditor-imageupload-unconstrain {
	background: url(images/editor/constrain.gif) 0 -48px no-repeat
		!important
}

.x-htmleditor-imageupload-name {
	float: right;
	padding: 20px 10px 0 0;
}

.x-htmleditor-imageupload-thumb {
	width: 56px;
	height: 56px;
	float: right
}